<template>
    <!-- sldsValidatorIgnore -->
    <lightning-datatable></lightning-datatable>
    <lightning-flow-support></lightning-flow-support>
    <!-- sldsValidatorAllow -->
    <lightning-accordion></lightning-accordion>
    <lightning-accordion></lightning-accordion>
    <lightning-accordion></lightning-accordion>
    <!-- sldsValidatorIgnore -->
    <lightning-datatable></lightning-datatable>
    <lightning-flow-support></lightning-flow-support>
    <!-- sldsValidatorAllow -->
    <lightning-accordion></lightning-accordion>
    <lightning-accordion></lightning-accordion>
    <lightning-accordion></lightning-accordion>
    <!-- sldsValidatorIgnoreNextLine -->
    <lightning-datatable>
    </lightning-datatable>
    <lightning-datatable></lightning-datatable>
</template>
